#
# Never ignore these
#
!.gitignore


#disassembled object code
*.ass
#preprocessed
*.i

#vim cache
*.swo

*.swp
*.out
*.o
*.so

# kernel modules
*.cmd
*.ko

# Sample : 81-kernel_programming/drivers/tiny_fs/.cache.mk
*.cache*

# ctag data
tags
